* {
    box-sizing: border-box;
}

:root {
    --primary-color: #1ebfc1;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* common */
.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.btn {
    width: 108px;
    text-align: center;
    padding: 12px 24px;
}

.start-btn {
    font-weight: 600;
    font-size: 1.8rem;
    color: #ffffff;
    background: var(--primary-color);
    padding: 20px 41px;
    text-align: center;
    width: 186px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.05);
    border-radius: 14px;
}

.start-btn:hover {
    opacity: 0.8;
}

/* header */
.header {
    background-color: #fff;
}

.header .body {
    padding: 52px 0 8px 0;
    display: flex;
    align-items: center;
}

.header.fixed {
    position: sticky;
    top: -44px;
    z-index: 1;
}

.header .logo {
    cursor: pointer;
}

.header .nav {
    margin-left: 215px;
}

.nav .list {
    display: flex;
    list-style: none;
}

.nav .list .item {
    margin: 0 20px;
    border: none;
}

.nav .list .item a {
    padding: 12px 0;
    font-weight: 400;
    font-size: 16px;
    color: #2f3a3b;
}

.nav .list .item a:hover {
    text-shadow: 0 0 1px currentColor;
}

.header .register {
    margin-left: auto;
    display: flex;
}
.register .btn {
    font-weight: 600;
    font-size: 1.4rem;
    text-align: center;
    border: 1px solid transparent;
}

.register .btn:hover {
    color: #1ebfc1;
    border-radius: 6px;
    border: 1px solid var(--primary-color);
    cursor: pointer;
}

/* hero */

.hero .body {
    display: flex;
    padding: 42px 0 80px;
    background-color: #fff;
}

.hero .title {
    margin-top: 93px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.4;
    color: #767e7e;
}

.hero .heading {
    margin-top: 18px;
    font-weight: 700;
    font-size: 6.2rem;
    line-height: 1.16;
    color: #0d1111;
}

.hero .content .desc {
    width: 375px;
    margin-top: 46px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.78;
    color: #9da6a5;
}

.hero .action-btn {
    margin-top: 52px;
}

.hero .action-btn .play-btn {
    width: 62px;
    height: 62px;
    padding: 22px;
    border-radius: 50%;
    margin-left: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    box-shadow: 0px 22px 50px rgba(0, 0, 0, 0.05);
}

.hero-block {
    width: 55%;
    position: relative;
    right: 0;
}

.hero-block .thumb {
    width: 576px;
    height: 631px;
    object-fit: cover;
    background: #1ebfc1;
}

.hero-block .course-stats {
    position: absolute;
    top: 149px;
    left: -40px;
    width: 157px;
    height: 75px;
    padding: 17px 25px 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fefefd;
    box-shadow: 0px 10px 80px rgba(0, 0, 0, 0.05);
    border-radius: 18px;
}

.hero-block .course-stats .label {
    margin-left: 16px;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5;
    color: #0d1111;
}

.course-stats .icon {
    position: relative;
}

.course-stats .icon::before {
    position: absolute;
    content: "";
    display: inline-block;
    top: 28px;
    right: 4px;
    width: 28px;
    height: 4px;
    background: #fff;
    border-radius: 4px;
}

.hero-summary .schedule-stat {
    width: 124px;
    padding: 16px 25px 23px;
    background: #ffffff;
    box-shadow: 0px 10px 80px rgba(0, 0, 0, 0.05);
    border-radius: 24px;
}

.hero-summary .schedule-stat .label {
    font-weight: 500;
    font-size: 1rem;
    color: #0d1111;
    text-align: center;
}

.schedule-stat .stat-index {
    margin-top: 6px;
}

.schedule-stat .stat-index img {
    display: inline-block;
}

.schedule-stat .stat-index:last-child {
    text-align: center;
}

.schedule-stat .stat-index img:last-child {
    margin-top: 12px;
}

.hero-block .schedule-stat {
    position: absolute;
    bottom: 46px;
    left: -65px;
}

.hero-summary .student-stat {
    display: inline-block;
    position: absolute;
    right: 45px;
    bottom: 41px;
    width: 207px;
    padding: 17px 35px;
    background: #fefefd;
    box-shadow: 0px 12px 80px rgba(0, 0, 0, 0.05);
    border-radius: 24px;
    box-sizing: border-box;
}

.student-stat .desc {
    font-weight: 500;
    font-size: 1rem;
    color: #0d1111;
}

.student-stat .avatar-group {
    display: flex;
    align-items: center;
    margin-top: 8px;
}

.avatar-group .avatar + .avatar {
    margin-left: -7px;
}

.student-stat .avatar-group .avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33px;
    height: 33px;
    object-fit: cover;
    border-radius: 50%;
}

.avatar-group .avatar-1 {
    font-weight: 500;
    font-size: 1rem;
    color: #ffffff;
    background: #1ebfc1;
}

/*  feature*/
.feature .body {
    padding: 42px 0 80px;
    margin-top: 88px;
}

.feature-top .title {
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.8;
    color: #767e7e;
}

.feature-top .heading {
    width: 577px;
    font-weight: 700;
    font-size: 4.2rem;
    line-height: 1.33;
    color: #0d1111;
}

.feature .feature-top .desc {
    margin-top: 18px;
    width: 590px;
    font-weight: 400;
    font-size: 1.8rem;
    color: #767e7e;
}

.feature-content {
    margin-top: 80px;
}

.feature-content .feature-list {
    display: flex;
}

.feature-list .item .icon-yl {
    background: #ffc147;
}
.feature-list .item .icon-org {
    background: #ff947a;
}

.feature-list .item .icon-purp {
    background: #bf83ff;
}

.feature-list .item + .item {
    margin-left: 209px;
}

.feature-list .item .icon {
    padding: 29px 27px;
    border-radius: 18px;
}

.feature-list .item .title {
    margin-top: 26px;
    font-weight: 600;
    font-size: 2rem;
    color: #0d1111;
}

.feature-list .item .desc {
    margin-top: 16px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.69;
    color: #9da6a5;
}

/* course section */

.course .body {
    margin-top: 50px;
    padding-bottom: 100px;
}

.course-top .title {
    font-weight: 700;
    font-size: 1.2rem;
    color: #767e7e;
}

.course-top .heading {
    margin-top: 18px;
    font-weight: 700;
    font-size: 4.2rem;
    color: #0d1111;
}

.course-top .course-desc {
    margin-top: 19px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.course-top .course-desc .desc {
    width: 525px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.78;
    color: #767e7e;
}

.course-top .course-desc .courses-view {
    font-weight: 700;
    font-size: 1.4rem;
    text-decoration-line: underline;
    color: #1ebfc1;
}

.course-top .course-desc .courses-view:hover {
    opacity: 0.7;
}

.course-content {
    margin-top: 80px;
}

.course-content .course-list {
    display: flex;
    gap: 47px;
}

.course-content .course-list .course-item {
    position: relative;
}

.course-content .course-list .course-item:hover .course-info {
    box-shadow: 0px 16px 90px rgba(0, 0, 0, 0.05);
}

.course-list .course-item .thumb {
    width: 359px;
    height: 393px;
    object-fit: cover;
    opacity: 0.35;
    border-radius: 8px;
    transition: all ease 0.3s;
}

.course-list .course-item .thumb-wrap {
    overflow: hidden;
    border-radius: 8px;
}

.course-list .course-item:hover .thumb {
    transform: scale(1.1);
    opacity: 1;
}

.course-item .course-info {
    position: absolute;
    top: 322px;
    right: 17px;
    width: 325px;
    padding: 18px 25px 19px;
    background: #ffffff;
    border-radius: 8px;
}

.course-item .course-info .course-title {
    font-weight: 700;
    font-size: 2.2rem;
    color: #0d1111;
}

.course-item .course-info .price {
    margin-top: 18px;
    font-weight: 400;
    font-size: 1.6rem;
    color: #767e7e;
}

.course-item .course-info .price strong {
    color: #0d1111;
    font-weight: 700;
    font-size: 2.2rem;
}

.course-item .course-length p,
.course-item .course-info .desc {
    margin-top: 6px;
    font-weight: 400;
    font-size: 1.4rem;
    color: #9da6a5;
}

.course-item .course-length {
    display: flex;
    margin-top: 18px;
}

.course-item .course-length .class-time,
.course-item .course-length .class-numb {
    display: flex;
    align-items: center;
}

.course-item .course-length .class-time::before,
.course-item .course-length .class-numb::before {
    content: "";
    display: inline-block;
    margin: 0 10px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: var(--primary-color);
}

.course-item .course-length .class-numb::before {
    margin-left: 0;
}

/* statistic section */

.statistic {
    margin-top: 230px;
    padding: 50px 0 100px;
}

.statistic .body {
    display: flex;
    justify-content: center;
    gap: 210px;
}

.statistic .heading {
    font-weight: 700;
    font-size: 6.2rem;
    text-align: center;
    color: #0d1111;
}

.statistic .desc {
    margin-top: 11px;
    font-weight: 400;
    font-size: 1.8rem;
    text-align: center;
    color: #767e7e;
}

/* feedback */

.feedback {
    margin-top: 151px;
    padding: 50px 0;
}

.feedback .body {
    display: flex;
}

.feedback .feedback-left {
    width: 36%;
}

.feedback .feedback-left .desc {
    width: 419px;
    margin-top: 27px;
    font-weight: 400;
    font-size: 3.2rem;
    line-height: 1.5;
    color: #5d6564;
}

.feedback-left .student-feedback {
    margin-top: 33px;
    font-weight: 400;
    font-size: 1.6rem;
    color: #767e7e;
}

.feedback-left .student-feedback span {
    font-weight: 500;
    font-size: 1.6rem;
    color: #070707;
}

.feedback-left .chervon-group {
    margin-top: 52px;
    display: flex;
    gap: 30px;
}

.feedback-left .right-chervon,
.feedback-left .left-chervon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: white;
    border: 1px solid #2ac9bf;
    background: var(--primary-color);
}

.feedback-left .right-chervon:hover,
.feedback-left .left-chervon:hover {
    transition: all linear 0.2s;
    background: #fff;
    color: var(--primary-color);
    cursor: pointer;
}

.feedback .feedback-right {
    position: relative;
    width: 64%;
}

.feedback-right .main-avatar,
.feedback-right .sub-ava1,
.feedback-right .sub-ava2,
.feedback-right .sub-ava3,
.feedback-right .sub-ava4,
.feedback-right .sub-ava5 {
    position: absolute;
    border-radius: 50%;
    object-fit: cover;
}

.feedback-right .main-avatar {
    left: 345px;
    top: 70px;
    width: 235px;
    height: 235px;
}

.feedback-right .sub-ava1 {
    right: 0;
    top: -18px;
    width: 110px;
    height: 110px;
}

.feedback-right .sub-ava2 {
    width: 92px;
    height: 92px;
    top: -37px;
    left: 216px;
}

.feedback-right .sub-ava3,
.feedback-right .sub-ava4,
.feedback-right .sub-ava5 {
    width: 78px;
    height: 78px;
}

.feedback-right .sub-ava3 {
    top: 221px;
    left: 72px;
}

.feedback-right .sub-ava4 {
    left: 284px;
    top: 366px;
}

.feedback-right .sub-ava5 {
    top: 337px;
    left: 641px;
}

/* subscription section */

.subscription {
    background: #def6f5;
}

.subscription .body {
    padding: 76px 0 88px 0;
    margin-top: 117px;
    display: flex;
    align-items: center;
}

.subscript-left .heading {
    margin: 0;
    font-weight: 700;
    font-size: 4.2rem;
    line-height: 1;
    color: #070707;
}

.subscript-left .desc {
    margin-top: 18px;
    font-weight: 400;
    font-size: 1.8rem;
    color: #767e7e;
}

.subscription .subscript-right {
    margin-left: 410px;
}

/* footer section */

.footer {
    margin-top: 130px;
}

.footer .row {
    display: flex;
}

.footer .column {
    margin-left: 144px;
}

.footer .column:first-child {
    margin-left: 0;
}

.footer .column .title {
    margin: 0;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1;
    color: #2e2e2e;
}

.footer .column .list {
    margin-top: 26px;
    list-style: none;
    padding: 0;
}

.footer .list li {
    margin-left: auto;
}

.footer .list a {
    display: inline-block;
    margin-top: 20px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1;
    color: #535353;
}

.footer .social {
    width: 20px;
    height: 20px;
    padding: 4px;
    border-radius: 50%;
}

.footer .social:hover {
    opacity: 0.7;
}

.footer .copyright {
    text-align: center;
    padding-bottom: 50px;
    margin-top: 45px;
}

.footer .copyright .desc {
    margin: 0;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1;
    color: #b0b5b4;
}
